[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pymongo = "*"
uvicorn = "*"
termcolor = "*"
motor = "*"

[dev-packages]
sqlacodegen = "*"
